<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.cms.manager.mapper.CmsVideoLogMapper">

    <select id="getVideoLogByUserIdAndVideoId" resultType="org.jeecg.modules.demo.cms.manager.entity.CmsVideoLog"
            parameterType="integer">
        SELECT total_time, user_id, `current_time`, video_id
        from cms_video_log
        where user_id = #{userId}
          and video_id = #{videoId}
    </select>

</mapper>
